# import necessary libraries

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import keras 
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers.core import Dense, Activation, Dropout
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

In [8]:
data=pd.read_csv('datasets/INFY20002008.csv')
print(data)

      Unnamed: 0      Symbol Series         Date  Prev Close  Open Price  \
0              0  INFOSYSTCH     EQ  03-Jan-2000    14467.75    15625.00
1              1  INFOSYSTCH     EQ  04-Jan-2000    15625.20    16800.00
2              2  INFOSYSTCH     EQ  05-Jan-2000    16855.90    15701.00
3              3  INFOSYSTCH     EQ  06-Jan-2000    15507.45    15256.65
4              4  INFOSYSTCH     EQ  07-Jan-2000    14266.85    13125.50
...          ...         ...    ...          ...         ...         ...
2491        2491  INFOSYSTCH     EQ  23-Dec-2009     2502.40     2511.00
2492        2492  INFOSYSTCH     EQ  24-Dec-2009     2583.75     2593.90
2493        2493  INFOSYSTCH     EQ  29-Dec-2009     2591.80     2595.10
2494        2494  INFOSYSTCH     EQ  30-Dec-2009     2577.15     2567.10
2495        2495  INFOSYSTCH     EQ  31-Dec-2009     2580.00     2585.00

      High Price  Low Price  Last Price  Close Price  Average Price  \
0       15625.20   15625.00    15625.20     15625.20       15625.18
1       16875.25   16253.00    16875.25     16855.90       16646.38
2       16250.00   15507.45    15507.45     15507.45       15786.38
3       15300.00   14266.85    14266.85     14266.85       14462.82
4       13125.50   13125.50    13125.50     13125.50       13125.50
...          ...        ...         ...          ...            ...
2491     2595.00    2511.00     2585.35      2583.75        2572.11
2492     2600.00    2560.15     2597.70      2591.80        2578.57
2493     2601.90    2563.30     2576.80      2577.15        2576.34
2494     2610.00    2563.70     2576.00      2580.00        2594.45
2495     2614.00    2585.00     2604.70      2601.10        2599.94

      Total Traded Quantity      Turnover No. of Trades Deliverable Qty  \
0                      5137  8.026657e+07             -               -
1                     56186  9.352937e+08             -               -
2                    164605  2.598516e+09             -               -
3                     81997  1.185908e+09             -               -
4                      7589  9.960942e+07             -               -
...                     ...           ...           ...             ...
2491                1338582  3.442976e+09             -          694075
2492                 697893  1.799564e+09             -          319274
2493                 785243  2.023051e+09             -          457862
2494                 621300  1.611930e+09             -          249765
2495                1156906  3.007888e+09             -          660409

     % Dly Qt to Traded Qty
0                         -
1                         -
2                         -
3                         -
4                         -
...                     ...
2491                  51.85
2492                  45.75
2493                  58.31
2494                   40.2
2495                  57.08

[2496 rows x 16 columns]

In [ ]:
data= data